.header {
    position: inherit;
    top: 0;
    left: 0;
    width: auto;
    background-color: rgb(230, 230, 230);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
    height: 55px;
  }
  
  .title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .avatar-image {
    width: 45px;
    height: 45px;
    border-radius: 34px;
    z-index: 0;
    overflow: hidden;
  }
  
  .avatar-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  }

  .logout-btn {
    border-radius: 5px;
    font-family: revert;
    font-weight: bold;
    font-size: medium;
    background-color: rgb(255, 31, 31);
    width: 80px;
    height: 30px;
  }