.auth {
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: rgb(148, 202, 171);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border: 1px solid black;
    text-align: center;
    color: white;
  }
  
  .auth h1 {
    text-align: center;
    color: black;
  }
  
  .control {
    margin-bottom: 1rem;
  }
  
  .control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    font: inherit;
    background-color: rgb(234, 237, 240);
    color: black;
    border-radius: 4px;
    border: 1px solid white;
    width: 98%;
    text-align: left;
    padding: 0.25rem;
  }
  
  .actions {
    margin-top: 1.5rem;
    display: block;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: rgb(163, 231, 163);
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
    margin-left: 1rem;
  }
  
  .actions button:hover {
    background-color: rgb(198, 231, 198);
    border-color: black;
  }
  
  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #9f5ccc;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: #ae82cc;
  }